doctype html
html
    head
        meta(charset='utf-8')
    body
        a(href='/') Test Notice
        hr
        table(border='1')
            tr
                td No
                td 제목
                td 글쓴이
                td 작성시간
                td 조회수
                td 좋아요
            -for(var i=0; i<datas.length; i++)
                tr
                    td= i+1
                    td= datas[i].title
                    td= datas[i].writer
                    td= datas[i].write_time.toLocaleDateString()
                    td= datas[i].views
                    td= datas[i].likes