doctype html
html
    head
        meta(charset='utf-8')
        title 개발자들
        link(rel="stylesheet", href="/notice.css", type="text/css")

        script.
            function Redirect(url) {
                location.href=url;
            };


    body
        nav
            a(href="/")
                img(class="index_icon" src="/devdogsicon.png", alt="index_icon")
            a(href="/Member" class="nav_a") Member
            a(href="/Notice" class="nav_a") Notice
            a(href="/About" class="nav_a") About

        div(class="notice_choice")
            button(style="color: #ff3255; font-weight:bold; border-bottom: 2px solid #ff3255;") 공지사항
            button 정보공유

        table
            tr(class="table_title")
                td(style="width: 40%") 제목
                td(style="width: 10%") 글쓴이
                td(style="width: 10%") 작성시간
                td(style="width: 5%") 조회수
                td(style="width: 5%") 좋아요
            -for(var i=0; i<datas.length; i++)
                tr(class="table_hover" onclick="Redirect('/Notice/"+datas[i].id+"')")
                    td= datas[i].title
                    td= datas[i].writer
                    td= datas[i].write_time.toLocaleDateString()
                    td= datas[i].views
                    td= datas[i].likes

        button(class="notice_add" onclick="Redirect('/notice/add')")
            img(class="notice_write" src="/notice_write.png", alt="pencile_img")
            span(class="notice_add_text") Add

        div(class="index_aperture")

        div(class="index_footer")
            div(class="index_footer_text") Copyright © 2019 DevDogs. All rights reserved.
            div(class="index_Last")
                div Create & Design by J