doctype html
html
    head
        meta(charset='utf-8')
        title 개발자들
        link(rel="stylesheet", href="/notice_id.css", type="text/css")
        script.
            function ConfirmDelete() {
                return confirm("삭제하시겠습니까?");
            };

    body
        nav
            a(href="/")
                img(class="index_icon" src="/devdogsicon.png" alt="index_icon")
            a(href="/Member" class="nav_a") Member
            a(href="/Notice" class="nav_a") Notice
            a(href="/About" class="nav_a") About
        div(class="notice_view")
            h1= data[0].title
            div(class="notice_detail_data")
                span= data[0].writer
                span= data[0].write_time.getFullYear() + "년 " + (data[0].write_time.getMonth()+1) + "월 " + data[0].write_time.getDate() + "일"
            hr
            textarea(class="notice_content" cols="20" rows="20" readonly)=data[0].content + "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
            -if(data[0].files > 0)
                -for(var i=0; i<data.length; i++)
                    a(href="/download/"+data[i].filePath)=data[i].filePath  
                    br
                br
                a(href="edit/"+data[0].noticeId) edit
                form(action="delete/"+ data[0].noticeId method='post')
                    input(class="notice_delete_button" type="submit" value="delete" Onclick="return ConfirmDelete()")
            -else
                a(href="edit/"+data[0].id) edit
                form(action="delete/"+ data[0].id method='post')
                    input(class="notice_delete_button" type="submit" value="delete" Onclick="return ConfirmDelete()")

        div(class="index_aperture")

        div(class="index_footer")
            div(class="index_footer_text") Copyright © 2019 DevDogs. All rights reserved.
            div(class="index_Last")
                div Create & Design by J